runtime/python/Lib/site-packages/torch/lib/torch_cpu.dll filter=lfs diff=lfs merge=lfs -text
runtime/argos-data/argos-translate/packages/translate-en_zh-1_9/model/model.bin filter=lfs diff=lfs merge=lfs -text
runtime/python/Lib/site-packages/ctranslate2/ctranslate2.dll filter=lfs diff=lfs merge=lfs -text
